* {
    box-sizing: border-box;
}

header {
    background-color: #EC362D;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    height: 70px;
    box-shadow: 2px 2px 2px gray;
}

header h1 {
    padding-top: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.criar-quizz {
    border: 1px dashed #d4d4d4;
    color: #b9b9b9;
    width: 1050px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}

p, h2 {
    font-family: 'Roboto';
    font-size: 20px;
}

.botao-criar {
    border: 1px dashed #ec362d;
    border-radius: 25px;
    color: #ec362d;
    margin-top: 20px;
    background-color: transparent;
    width: 135px;
    height: 40px;
}

.opcoes-quizz {
    margin-top: 80px;
}

.opcoes-quizz p {
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
}

.linha-quizz {
    display: flex;
}

.lista-quizz {
    position: relative;
    padding: 5px;
}

.img {
    width: 340px;
    height: 180px;
    border-radius: 2px;
    z-index: 1;
}


.nome-quizz p {
    color: #FFFFFF;
    position: absolute;
    bottom: 10px;
    left: 15px;
    z-index: 2;
}

.quizz-atual{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./img/Rectangle42.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 227px;
    width: 100%;
    margin-bottom: 42px;
}

.quizz-nome {    
    color: white;
    font-family: 'Roboto';
    font-size: 39px;
    font-weight: 400;
    text-align: center;
}

.quizz-card{
    background-color: white;
    padding: 20px 36px;
    width: 759px;
}

.quizz-pergunta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 138px;
    width: 688px;
    background-color: #434CA0;
    margin-bottom: 20px;
}

.quizz-pergunta span{
    font-family: 'Roboto';
    color: white;
    font-size: 23px;
    font-weight: 700;
}

.quizz-opcoes{
    width: 688px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quizz-opcao{
    display: flex;
    flex-direction: column;
}

.quizz-opcao img{
    height: 176px;
    width: 330px;
}

.quizz-opcao span{
    font-family: 'Roboto';
    color: black;
    font-size: 20px;
    font-weight: 700;
}